- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Ryan Park')
    meta(name='theme-color', content='#ffffff')
    title= pageTitle
    each url in theme.stylesheets
      link(rel='stylesheet', href=url)
    link(rel="icon", href=config.root + 'img/favicon.png')
    link(rel="stylesheet", href=config.root + "css/ionicons.min.css")
  body
    #menu-outer
      div.container.u-full-height.menu-container
        #title
          a(href='/')
            h1.name.u-full-height= config.title
        #nav.menu-inner
          each url, label in theme.menu
            a(href=url)= label
    #content-outer
      #content-inner
        if body
          div!= body
        else
          block content
    #footer.darkdiv
      h5.footernote Powered by Hexo, Styled by Ryan Park
      div#contacts
        a(href="http://www.github.com/" + theme.github)
          i.icon.ion-social-github
        a(href="http://www.twitter.com/" + theme.twitter)
          i.icon.ion-social-twitter
        a(href="http://www.codepen.io/" + theme.codepen)
          i.icon.ion-social-codepen-outline
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    if is_home()
      each url in theme.scripts
        script(src=url)
