
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Ryan Park')
    title= pageTitle
    each url in theme.stylesheets
      link(rel='stylesheet', href=url)
    link(rel="icon", href=config.root + 'img/favicon.png')
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  body
    #menu-outer
      #title
        h1.name= config.title
        h2.sub= config.description
      #nav.menu-inner
        each url, label in theme.menu
          a(href=url)= label
    #content-outer
      #content-inner
        if body
          div!= body
        else
          block content
    #footer
      i.fa.fa-github
      i.fa.fa-twitter
      i.fa.fa-user
