if site.posts.length > 0
  #recent-posts.container.spacing
    h1.sectionhead View my Recent Work
    div.u-full-width
      each post in site.posts.sort('date', -1).limit(3).toArray()
        .twelve.columns.portfolio-post
          .recent-post-item.four.columns
            a(href=config.root + post.path)
              #article(style="background: url('img/" + post.title + ".jpg');")
          .eight.columns
            .details
              a(href=config.root + post.path)
                h4.post-head= post.title
              if post.desc
                p.desc!= post.desc
                a(href=config.root + post.path)
                  span.post-read-more Read More
              if post.date
                time.post-time(datetime=post.date.toJSON())= date(post.date, date_format)